<form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
	<h4><b>Add a Review</b></h4>
	<blockquote>
		<b>Stars: {{reviewCtrl.review.stars}}</b>
		<br>
		{{reviewCtrl.review.body}}
		<br>
		<cite>by:{{reviewCtrl.review.author}}</cite>
	</blockquote>
	<select ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" required>
		<option value="">Rate our product pls</option>
	</select>
	<br>
	<textarea ng-model="reviewCtrl.review.body" placeholder="Leave a reviw of product" required></textarea>
	<br>
	<label>by:</label>
	<br>
	<input ng-model="reviewCtrl.review.author" type="email" placeholder="example@mailbox.com" required>
	<div>reviewForm is {{reviewForm.$valid}}</div>
	<input type="submit" value="Submit">
</form>